@media all and (min-width: 360px) {
  .Login {
    padding: 60px;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

@media all and (min-width: 768px) {
  .Login {
    margin: 0 auto;
    width: 800px;
  }
}

.Login {
  background-color: #e5c0c0;
}
