/* .list-brand {
    border: 1px solid #F7F7F0;
    padding-bottom: 20px;
    padding-top: 15px;
    height: 100%
} */

.list-brand {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 2px 1px;
    cursor: pointer;
    text-transform: uppercase;
}

.list-brand:hover {
    background-color: #696763;
    color: #fff;
}

ul {
    list-style-type: none;
}

.product-image-wrapper{
    border: 1px solid #F7F7F5;
    overflow: hidden;
    margin-bottom: 30px;
    position: relative;
}
.productinfo h2 {
    color: #0fb3bc;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.product-overlay h2 {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
}


.productinfo p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #696763;
}

.productinfo img {
    width: 100%;
}

.productinfo {
    position: relative;
}

.product-overlay {
    background-color: #fcff28;
    top: 0;
    display: none;
    height: 0;
    position: absolute;
    transition: height 500ms ease 0s;
    width: 100%;
    display: block;
}

.product-image-wrapper:hover .product-overlay {
    display: block;
    height: 100%;
}


.product-overlay .overlay-content {
    bottom: 0;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

    .product-overlay .overlay-content > p > a {
        font-size: 14px;
        color: white;
    }

        .product-overlay .overlay-content > p > a:hover {
            text-decoration: none;
            color: lightpink;
        }

.product-overlay .add-to-cart {
    background: #fff;
    border: 0 none;
    border-radius: 0;
    color: #06b906;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-bottom: 25px;
}

    .product-overlay .add-to-cart:hover {
        background: #fff;
        color: #00b600;
    }


.product-overlay p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}
